## Data Description

To solve the problem identified, site data will be used and analysed to derive a recommendation.
In particular, the Foursquare API is used for this purpose, which uses queries to output the venues in each neighbourhood within a given radius.
This data is combined with public data on the demographics of each neighborhood. This data is publicly available from the City of New York and can be accessed at https://data.cityofnewyork.us/api/views/8m6s-esnp/rows.csv.
An extract of the data is shown below.

In [2]:
import pandas as pd
link="https://data.cityofnewyork.us/api/views/8m6s-esnp/rows.csv?accessType=DOWNLOAD"
manhattan_pop= pd.read_csv(link)
manhattan_pop.head()

,Borough,Year,FIPS County Code,NTA Code,NTA Name,Population
0,Manhattan,2010,61,MN01,Marble Hill-Inwood,46746
1,Manhattan,2010,61,MN03,Central Harlem North-Polo Grounds,75282
2,Manhattan,2010,61,MN04,Hamilton Heights,48520
3,Manhattan,2010,61,MN06,Manhattanville,22950
4,Manhattan,2010,61,MN09,Morningside Heights,55929